/* Start på Header */
.header__cont {
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.489);
	width: 100%;
	height: 15vh;
}

.header__menu {
	display: flex;
	color: var(--white);
	align-items: center;
	height: 100%;
}

.header__menu>li:first-of-type {
	font-size: 3em;
	margin-left: 1em;
	list-style-type: none;
	font-weight: bold;
}

.header__title--orange {
	color: var(--orange);
}

.header__grow {
	flex-grow: 1;
}

.cont__menu__items {
	display: flex;
	justify-content: flex-end;
}

.menu__items--small {
	display: contents;
}

/* Slut på Header */

/* Start på Main content */
.main__cont {
	background-image: url("/bilder/asia-culturecenter-COWf-5ZtZ6w-unsplash.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

.main__cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: var(--white);
}

.main__cont p {
	margin-top: 1em;
	max-width: 40em;
	margin: 0 1em;
}

.main__h1--bigger {
	font-size: 3em;
}

.main__button {
	background-color: var(--orange);
	padding: 0.5em 2em;
	border: none;
	transition: 0.5s;
	margin-top: 2em;
	font-weight: bold;
	border-radius: 3px;
	color: var(--white);
}

.main__button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--orange);
	transition: 0.5s;
}

/* Start på Speakers sektion */
#speakers {
	text-align: center;
	color: var(--grey-h2);
	text-transform: uppercase;
	font-size: 2.25em;
	margin: 2em 0em;
}

.speaker__cont {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.speaker__img {
	max-width: 35em;
	min-height: 15em;
}

.speaker__img>img {
	width: 100%;
	height: 100%;
}

.speaker__info {
	background-color: var(--orange);
	max-width: 35em;
	min-height: 20em;
	text-align: center;
	padding: 2em;
}

.speaker__socials,
.social__icon {
	padding: 0.5em;
	margin-top: 4em;
}

.social__icon:hover {
	cursor: pointer;
}

.speaker__info p:nth-of-type(1) {
	margin-bottom: 1em;
}

/* Slut på Speakers sektion */

/* Start på Biljett sektion */
.tickets {
	text-align: center;
	color: var(--grey-h2);
	font-size: 2.25em;
	text-transform: uppercase;
	margin-top: 2em;
}

.tickets__cont {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
	justify-content: center;
	padding: 0 1rem;
}

.card__cont {
	display: flex;
	flex-direction: column;
	max-width: 12rem;
	margin: 1rem;

}

.tickets__section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card__price {
	font-size: 1.5rem;
	text-align: center;
	padding: 0.6em 0.2em;
	background-color: var(--white);
	color: var(--orange);
	border-radius: 2px;
	font-weight: bold;
	transition: 0.5s;
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

.card__day {
	color: var(--grey-h2);
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
	align-self: center;
}

.card__info {
	max-width: 15em;
}

.card__button {
	background-color: var(--orange);
	padding: 0.5em 2em;
	border: none;
	transition: 0.5s;
	margin-top: 2em;
	font-weight: bold;
	border-radius: 3px;
	color: var(--white);
}

.card__button:hover {
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
	transition: 0.5s;
	background-color: var(--white);
	color: var(--orange);
	cursor: pointer;
}

/* Slut på Biljett sektion */

/* Start på Kontakta oss sektion */
.cont__contact h2 {
	text-align: center;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-size: 2.25em;
	color: var(--grey-h2);
	margin-top: 2em;
}

.form__cont {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 6;
}

.form__cont h2 {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.form__cont div:nth-of-type(1) {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	margin-right: 0.2em;
	display: flex;
	flex-direction: column;
}

.form__cont div:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
	justify-self: start;
	margin-left: 1em;
	display: flex;
	flex-direction: column;
}

.form__cont div:nth-of-type(3) {
	grid-column: 1 / span 2;
	grid-row: 3;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

#subject {
	width: 23em;
}

.cont__pay__button {
	display: flex;
	justify-content: center;
}

.form__cont div:nth-of-type(4) {
	grid-column: 1 / span 2;
	grid-row: 4;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

.form__input {
	padding: 0.3em;
	width: 11.3em;
}

.example__name,
.example__email,
.example__subject {
	visibility: hidden;
	font-size: 0.9em;
	margin-bottom: 0;
}

#name:invalid+.example__name,
#email:invalid+.example__email,
#subject:invalid+.example__subject {
	visibility: visible;
	margin-bottom: 1em;

}

textarea {
	padding: 0.3em;
}

input:valid {
	outline-color: greenyellow;
}

input:invalid {
	outline-color: red;
}

.form__button {
	grid-column: 1 / span 2;
	grid-row: 5;
	justify-self: center;
	background-color: var(--orange);
	padding: 1em 7em;
	border: none;
	transition: 0.5s;
	margin-top: 2em;
	font-weight: bold;
	border-radius: 3px;
	color: var(--white);
}

.form__button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--orange);
	transition: 0.5s;
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}


/* Slut på kontakta oss sektion */

@media (max-width: 414px) and (min-width: 320px) {
	.form__cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form__cont div:nth-of-type(1),
	.form__cont div:nth-of-type(2) {
		margin-left: unset;
		margin-right: unset;
	}

	#subject,
	#email,
	#name,
	#message {
		width: 15em;
	}

	.form__button {
		padding: 1em 4em;
	}
}

.card__saturday {
	margin-left: 6em;
}

.card__sunday {
	margin-right: 6em;
}

.test {
	display: flex;
}

/* Start på Media-Queries för Headern */
@media (max-width: 800px) {
	.menu__items--small {
		display: flex;
		margin-top: 0.3em;
		margin-bottom: 1em;
	}

	.header__menu>li:first-of-type {
		margin-left: unset;
	}

	.header__cont {
		height: 25vh;
	}

	.header__menu {
		flex-direction: column;

	}

	.cont__menu__items {
		display: flex;
	}
}

@media (max-width: 500px) {
	.main__h1--bigger {
		margin-top: 1.5em;
	}

	.header__menu>li:first-of-type {
		margin-left: unset;
	}

	.cont__menu__items div:nth-of-type(2) {
		display: flex;
		justify-content: space-around;


	}
}

/* Start på Media-Queries för Speakers sektionen */
@media (max-width: 1136px) {
	.speaker__cont {
		margin: 0 1.5em;
	}

	.speaker__socials {
		display: flex;
		margin-top: -3em;
		justify-content: center;
	}

	.speaker__info,
	.speaker__img {
		max-width: unset;
	}

	.speaker__cont:nth-of-type(3),
	.speaker__cont:nth-of-type(5) {
		flex-wrap: wrap-reverse;

	}
}


/* Slut på Media-Queries för Speakers sektionen */