* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--orange: #ff862f;
	--grey-h2: #616161;
	--white: #ffffff;
}

a {
	text-decoration: none;
}

/* Start på Header */
.header-cont {
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.489);
	width: 100%;
	height: 15vh;
}

.main__cont {
	background-image: url("/bilder/asia-culturecenter-COWf-5ZtZ6w-unsplash.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

.header-cont,
ul {
	display: flex;
	color: var(--white);
	align-self: center;
	justify-content: space-evenly;
}

ul {
	width: 50%;
}

.header-cont>p {
	font-size: 2em;
	margin-left: 1em;
	align-self: center;
}

span {
	color: var(--orange);
	font-weight: bold;
}

div {
	flex-grow: 1;
}

li {
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.25s;
	font-size: 0.8em;
	color: var(--white);
}

li:hover {
	cursor: pointer;
	color: var(--orange);
	transition-duration: 0.25s;
}

/* Slut på Header */

/* Main content */

.main__cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: var(--white);
}

.main__cont p {
	margin-top: 1em;
	max-width: 40em;
}

.main__cont h1 {
	font-size: 3em;
}

button {
	background-color: var(--orange);
	padding: 0.5em 2em;
	border: none;
	transition: 0.5s;
	margin-top: 2em;
	font-weight: bold;
	border-radius: 3px;
	color: var(--white);
}

button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--orange);
	transition: 0.5s;
}

/* Speakers */

.speaker-cont {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: #e0e0e0;
	color: var(--white);
}

.speaker-cont img {
	max-width: 30em;
	height: 100%;
}

.speaker-cont h3 {
	margin-top: 2em;
	font-size: 1.5em;
}

.speaker-cont p:nth-child(2) {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 0.7em;
	font-weight: bold;
}

.speaker-cont div:nth-of-type(1) {
	grid-column: 1 / span 2;
	text-align: center;
	margin-bottom: 2.5em;
	text-transform: uppercase;
	font-size: 1.5em;
	color: var(--grey-h2);
	margin-top: 4em;
}

.speaker-cont div:nth-of-type(2) {
	grid-column: 1;
	grid-row: 2;
	text-align: end;
}

.speaker-cont div:nth-of-type(3) {
	grid-column: 2;
	grid-row: 2;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
}

.speaker-cont div:nth-of-type(4) {
	grid-column: 2;
	grid-row: 3;
}

.speaker-cont div:nth-of-type(5) {
	grid-column: 1;
	grid-row: 3;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
	justify-self: end;
}

.speaker-cont div:nth-of-type(6) {
	grid-column: 1;
	grid-row: 4;
	text-align: end;
}

.speaker-cont div:nth-of-type(7) {
	grid-column: 2;
	grid-row: 4;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
}

.speaker-cont div:nth-of-type(8) {
	grid-column: 2;
	grid-row: 5;
}

.speaker-cont div:nth-of-type(9) {
	grid-column: 1;
	grid-row: 5;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
	justify-self: end;
}

/* Tickets */

.tickets {
	text-align: center;
	color: var(--grey-h2);
	font-size: 2.25em;
	text-transform: uppercase;
	margin-top: 2em;
}

.cont__tickets {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
	justify-content: space-around;
	padding: 0 1rem;
}

.cont__card {
	display: flex;
	flex-direction: column;
	max-width: 20rem;
	margin: 1rem;

}

.cont__price {
	font-size: 1.5rem;
	text-align: center;
	padding: 0.6em 0.2em;
	background-color: var(--white);
	color: var(--orange);
	border-radius: 2px;
	font-weight: bold;
	transition: 0.5s;
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

.cont__day {
	color: var(--grey-h2);
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.cont__info {
	max-width: 15em;
}

.cont__button:hover {
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

/* Contact us */

.contact-cont h2 {
	text-align: center;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-size: 2.25em;
	color: var(--grey-h2);
	margin-top: 2em;
}

.contact-cont form {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 5;
}

.contact-cont form h2 {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.contact-cont form div:nth-of-type(1) {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	margin-right: 0.2em;
	display: flex;
	flex-direction: column;
}

.contact-cont form div:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
	justify-self: start;
	margin-left: 0.2em;
	display: flex;
	flex-direction: column;
}

.contact-cont form div:nth-of-type(3) {
	grid-column: 1 / span 2;
	grid-row: 3;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

#subject {
	width: 24em;
}

.cont__pay__button {
	display: flex;
	justify-content: center;
}

.contact-cont form div:nth-of-type(4) {
	grid-column: 1 / span 2;
	grid-row: 4;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

.contact-cont form button {
	grid-column: 1 / span 2;
	grid-row: 5;
	justify-self: center;
}

.contact-cont form button:hover {
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

input {
	padding: 0.3em;
	width: 11.9em;
	margin-bottom: 1em;
	outline-color: var(--orange);
}

textarea {
	padding: 0.3em;
	outline-color: var(--orange);
}

/* Footer */

.cont__footer {
	background-color: #292929;
	height: fit-content;
	color: var(--white);
	display: flex;
	margin-top: 5em;
	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
}

.footer__pin {
	margin-top: 1em;
}

.footer__info,
.footer__follow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 2rem;
}

.footer__follow {
	flex-direction: column;
	justify-content: flex-start;
	font-weight: bold;
	font-size: 1.5em;
}

.footer__cont__icon {
	display: flex;
	flex-wrap: wrap;
}

.footer__icon {
	border: 2px solid var(--orange);
	padding: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
}

.footer__icon:hover {
	cursor: pointer;
}

/* Responsivitet för Footern */
@media (max-width: 980px) {
	.footer__follow {
		margin-left: 3.5em;
	}
}

@media (max-width: 722px) {
	.footer__info {
		padding-left: 0.1em;
	}
}

@media (max-width: 631px) {
	.footer__email {
		margin-left: 5em;
		padding-right: 0;
	}

	.footer__follow {
		align-self: center;
		margin-left: 0;
	}
}

@media (max-width: 530px) and (min-width: 320px) {
	.footer__email {
		margin-left: unset;
		margin-right: 2em;
	}

	.footer__follow {
		margin-right: 0.5em;
	}

	.footer__follow p {
		margin-top: 1em;

	}
}

/* Slut på Media-queries */