* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--orange: #ff862f;
	--grey-h2: #616161;
	--white: #ffffff;
}

.header-cont {
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.489);
	width: 100%;
	height: 15vh;
}

.main-cont {
	background-image: url("/bilder/asia-culturecenter-COWf-5ZtZ6w-unsplash.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}


/* Header */

.header-cont,
ul {
	display: flex;
	color: var(--white);
	align-self: center;
	justify-content: space-evenly;
}

ul {
	width: 50%;
}

.header-cont>p {
	font-size: 2em;
	margin-left: 1em;
	align-self: center;
}

span {
	color: var(--orange);
	font-weight: bold;
}

div {
	flex-grow: 1;
}

li {
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.25s;
	font-size: 0.8em;
	color: var(--white);
}

li:hover {
	cursor: pointer;
	color: var(--orange);
	transition-duration: 0.25s;
}

/* Main content */

.main-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: var(--white);
}

.main-cont p {
	margin-top: 1em;
	width: 40em;
}

.main-cont h1 {
	font-size: 3em;
}

button {
	background-color: var(--orange);
	padding: 0.5em 2em;
	border: none;
	transition: 0.5s;
	margin-top: 2em;
	font-weight: bold;
	border-radius: 3px;
	color: var(--white);
}

button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--orange);
	transition: 0.5s;
}

/* Speakers */

.speaker-cont {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 5;
	background-color: #e0e0e0;
	color: var(--white);
}

.speaker-cont img {
	max-width: 30em;
	height: 100%;
}


.speaker-cont h3 {
	margin-top: 2em;
	font-size: 1.5em;
}

.speaker-cont p:nth-child(2) {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 0.7em;
	font-weight: bold;

}

.speaker-cont div:nth-of-type(1) {
	grid-column: 1 / span 2;
	text-align: center;
	margin-bottom: 2.5em;
	text-transform: uppercase;
	font-size: 1.5em;
	color: var(--grey-h2);
	margin-top: 4em;
}

.speaker-cont div:nth-of-type(2) {
	grid-column: 1;
	grid-row: 2;
	text-align: end;
}

.speaker-cont div:nth-of-type(3) {
	grid-column: 2;
	grid-row: 2;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
}

.speaker-cont div:nth-of-type(4) {
	grid-column: 2;
	grid-row: 3;
}

.speaker-cont div:nth-of-type(5) {
	grid-column: 1;
	grid-row: 3;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
	justify-self: end;
}

.speaker-cont div:nth-of-type(6) {
	grid-column: 1;
	grid-row: 4;
	text-align: end;
}

.speaker-cont div:nth-of-type(7) {
	grid-column: 2;
	grid-row: 4;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
}

.speaker-cont div:nth-of-type(8) {
	grid-column: 2;
	grid-row: 5;
}

.speaker-cont div:nth-of-type(9) {
	grid-column: 1;
	grid-row: 5;
	background-color: var(--orange);
	max-width: 30em;
	text-align: center;
	justify-self: end;
}

/* Tickets */

.tickets {
	text-align: center;
	color: var(--grey-h2);
	font-size: 2.25em;
	text-transform: uppercase;
	margin-top: 2em;
}

.cont__tickets {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 3em;
}



.cont__price {
	font-size: 1.5rem;
	text-align: center;
	padding: 0.6em 0.2em;
	background-color: var(--white);
	color: var(--orange);
	border-radius: 2px;
	font-weight: bold;
	transition: 0.5s;
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
	width: 8em;
}

.cont__price:hover {
	background-color: var(--orange);
	color: var(--white);
}

.cont__day {
	color: var(--grey-h2);
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.cont__info {
	max-width: 15em;
}

.cont__button:hover {
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

/* Contact us */

.contact-cont h2 {
	text-align: center;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-size: 2.25em;
	color: var(--grey-h2);
	margin-top: 2em;
}

.contact-cont form {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 5;
}

.contact-cont form h2 {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.contact-cont form div:nth-of-type(1) {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	margin-right: 0.2em;
	display: flex;
	flex-direction: column;
}

.contact-cont form div:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
	justify-self: start;
	margin-left: 0.2em;
	display: flex;
	flex-direction: column;
}

.contact-cont form div:nth-of-type(3) {
	grid-column: 1 / span 2;
	grid-row: 3;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

#subject {
	width: 24em;
}

.contact-cont form div:nth-of-type(4) {
	grid-column: 1 / span 2;
	grid-row: 4;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

.contact-cont form button {
	grid-column: 1 / span 2;
	grid-row: 5;
	justify-self: center;
}

.contact-cont form button:hover {
	box-shadow: 1px 1px 3px rgb(81, 81, 81);
}

input {
	padding: 0.3em;
	width: 11.9em;
	margin-bottom: 1em;
	outline-color: var(--orange);
}


textarea {
	padding: 0.3em;
	outline-color: var(--orange);
}

/* Footer */

.footer-cont {
	background-color: #292929;
	height: 10em;
	color: var(--white);
	display: flex;
	margin-top: 5em;
}

.footer__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cont__about {
	width: 15em;
	display: flex;
	flex-direction: column;
	padding: 1em;

}

.cont__about h4 {
	text-align: center;
	margin-bottom: 1em;
}

.cont__about p {
	color: #9e9e9e;
}